<h1>Iniciar Sesión - Usuarios</h1>
<%= form_tag sessions_path do %>
<div class="field">
<%= label_tag :nombre %><br>
<%= text_field_tag :nombre %>
</div>
  <div class="field">
    <%= label_tag :password %><br>
<%= password_field_tag :contrasena%>
</div>
  <div class="actions">
    <%= submit_tag "Iniciar Sesión" %>
</div>
<% end %>

