<nav class="navbar"  style="background-color: black; color: white;">
<span class="navbar-text">
   <a href="../welcome/index"><button class="btn btn-dark">Cerrar Sesión</button></a>
</span>
</nav>
<br>
<br>
<div class="row">
<div class="col-sm-4">
<div id="text" style="text-align: right; font-size: 30px; font-weight: bold; padding: 20px;">Mostrar Usuarios</div>
</div>
<div class="col-sm-8">
<div id="text" style=" font-size: 30px; font-weight: bold; margin-top: 90px;">
Descripción</div>
<br>
<br>
<div id="muestra" style="background: #D8D8D8;border: 2px solid; padding: 30px; margin-right: 200px; margin-left: 70px; border-radius: 10px;">
<p>
<div style="font-weight: bold; padding: 10px; font-size: 17px; margin-left: 20px;">Nombre:</div>
<div style="padding: 10px;  margin-left: 20px;"><%= @employee.nombre %></div>
</p>
<p>
<div style="font-weight: bold; padding: 10px; font-size: 17px;  margin-left: 20px;">Apellidos:</div>
<div style="padding: 10px;  margin-left: 20px;"><%= @employee.apellidos %></div>
</p>
<p>
<div style="font-weight: bold; padding: 10px; font-size: 17px;  margin-left: 20px;">Área de trabajo:</div>
<div style="padding: 10px;  margin-left: 20px;"><%= @employee.area %></div>
</p>
<p>
<div style="font-weight: bold; padding: 10px; font-size: 17px;  margin-left: 20px;">Código:</div>
<div style="padding: 10px;  margin-left: 20px;"><%= @employee.codigo %></div>
</p>
</div>
<br>
<br>
<center>
<%= link_to 'Editar', edit_employee_path(@employee), class:"btn btn-success" %> |
<%= link_to 'Volver', employees_path, class:"btn btn-primary" %>
</center>
</div>
</div>

